/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: auto;
    font-family: 'Montserrat', sans-serif !important;
    background: #f3f3f3 !important;

}
html,body{
    height: 100%;
    width:100%;

}

.navbar{
    padding:.8rem;
}

.navbar-nav li{
    /* padding-right:20px; */
}

.nav-link{
    /* font-size: 1.1em !important; */
}



/*Admin buttons logout and login*/
.admin-login-button{
    background: #05B18B;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color:#fff !important;
    border: 1px solid #05B18B;
    height: 50px;
    margin-left: 10px;

}

.login-button:hover{
    background: #fff;
    color: #05B18B !important;
    border: 1px solid #05B18B;
}

.admin-logout-button{
    background: #DD5A68;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color:#fff !important;
    border: 1px solid #DD5A68;
    height: 50px;
    margin-left: 10px;
}

.logout-button:hover{
    background: #fff;
    color: #DD5A68 !important;
    border: 1px solid #DD5A68;
}


.elbutton{
    background: #05B18B;
    border-radius: 50px;
    color:#fff !important;
    border: 1px solid #05B18B;

    margin-top: 5px;
}




/*Banner Image*/


.tender-text{
    display: flex;
    justify-content:space-between;
}


.rounded-corners{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 15px;

}

.tender-notice{
    font-weight: 700;
    padding-top: 20px;
    font-size: 20pt;
    color: #1d1d1d;
}

.blue{
    color: #2c6ac6;
}

.tenderfile{
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    border-bottom: 10px solid #f3f3f3;
}

.tenderfile2{

    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    border-bottom: 10px solid #f3f3f3;
    padding-left: 7%;
}


/*textbox*/
.element{
    width: 95%;
    padding-right: 20px;
    padding-left: 20px;
    margin-left:20px;
    margin-right:20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: none;

}

.elbutton{
    text-align: center;
}

/*

Accordion
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 180px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  width: 74%;
}

.acstyle{
  background: #fff !important;
  width: 100%;
  color: #292929;
  font-size: 14px;
  border: 0.5px solid #f8f8f8;
}
.acstyle:hover{
  background: #05B18B !important;
  color: #fff;
}
button.acstyle.active{
  background: #05B18B !important;
  color: #fff;
}
button.acstyle:after {
    content: '\02795'; Unicode character for "plus" sign (+)
    font-size: 10px;
    color: #878787;
    float: right;
    margin-left: 5px;

}

button.acstyle.active:after {
    content: "\2796"; Unicode character for "minus" sign (-)
    color: #fff;
}

.arcwrapper{
  margin-top: 0;
  background: #fff;
  border-radius: 0 0 10px 0;
}
ends */


/*---Media Queries --*/
@media (max-width: 992px) {


}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}




/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*headert texts*/
.header-texts{
    background-color: #2c6ac6;
    color: white;
    height: 3em;
    padding-top: 10px;
}

.D-E-D{

    margin-right: 10px;
    color:#828282 !important
}



/*checkbox padding*/
.checkbox-label{
    padding-top: 15px
}

.upload-button{
    border:none;
    margin-left: -23px;
}


/*change password page*/
.change-psw-container{
    background-color: white;
    padding-bottom: 5%;
}
.change-psw-textarea{
    padding-left: 30%;
    padding-right: 30%;
}

.change-psw-padd{
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
    color: #05b18b !important;
    font-size: 40px !important;
}

.change-psw-button{
    margin-left: 30%;
}


/*contact us image bg*/

.image-bg{
    background: #3c75ca !important;
}

.white-bg{
    background: white;
    padding: 5%;

}

/*Color display dept list*/
.colorDisplay{
    height: 30px;
    width: 30px;
    padding-top: 0px;
    border-radius: 50%;
    margin-top: -3px;
    margin-bottom: 0px;
}
.super-action-images{
    border:none;
    /*text-decoration: none;*/
    background: none;
    /*display: grid;*/
    justify-content: center;
}

.super-action-images img{
    display: inline;
    height: 20px;
    width: 20px;

}




.my-align-center{
    text-align: center;
}


.form-spce {
    margin-top: 1rem !important;
}
.frame-spce{
    padding-bottom: 0  !important;;
}




/*ZONUN FOOTER START*/
.footer{
    margin-top: 40px;

    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: green;

}
.footer-images2{
    padding-right: 5px;
}

.footer-images2 a{
    margin: auto;
    padding: 0px;
    padding-top: 10px;
}


.footer-images2 img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    box-shadow: 5px 10px 8px 10px #f6f6f6;
    border-radius: 10px;
}
.footor-top{
    margin-top: 20px !important;
    background: #fff;
    border-radius: 10px;
}
.footer-nav{
    text-align: center;
}
.nav-list{
    color: #828282 !important;
    font-size: 14px;

}
.nav-list a{
    color: #828282 !important;
    font-size: 16px;
    padding-right: 20px;

}
.nav-list a:hover{
    color: #05B18B !important;
    text-decoration: none;

}


.msegs p{
    color: #828282 !important;
    font-size: 14px;
}

.msegs a{
    color: #05B18B !important;
    padding: 0px;
    text-decoration: none;

}
.msegs a:hover{
    text-decoration: none;
    color: #2c6ac6 !important;

}





/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@media (max-width: 525px)
{
    .line-close{
        width: 25% !important;

    }

}


/*ZONUN FOOTER END*/





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.bannerImg{
    max-width: 100%;
    height: auto;

}

.paginator{
    display:flex;
    justify-content:left;
}



/*separator*/
.border-md-right {
    border-right: 1px solid silver;
}

@media (max-width: 768px) {

    .border-md-right {
        border-right: none;
    }

}
